{% extends "menu.html" %} 
{% block content %} 
{% load static %}
 <!-- Contenue -->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>OfferWalls |</h1>
                    <span class="pl-1">Remplissez diverses tâches et gagner davantages de Fortcoins !</span>
                    <div class="separator mb-5"></div>
                </div>
            </div>

            
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xs-12">
                        <div class="alert alert-warning" role="alert">Cette fonction est en cours de développement et devrait apparaître prochainement !</div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <!-- -->
{%endblock%}