{% extends "menu.html" %} 
{% block content %} 
{% load static %}
 <!-- Contenue -->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Historique des connexions |</h1>
                    <span class="pl-1">Liste des derniers appareils connectés à votre compte</span>
                    <div class="separator mb-5"></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <!-- -->
{%endblock%}