{% extends "menu.html" %} 
{% block content %} 
{% load static %}
 <!-- Contenue -->
    <main>
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-12">
                    <h1>Boutique |</h1>
                    <div class="float-md-right">
                        <button type="button" class="btn btn-primary">
                            30 Fortcoins
                        </button>
                    </div>
                    <span class="pl-1">Achetez des skins et bien plus à l'aide de vos Fortoins !</span>
                </div>
            </div>

            <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="first-tab" href="{% url "shop" %}" role="tab" aria-controls="first"
                        aria-selected="true">CATALOGUE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="second-tab" href="{% url "commands" %}" role="tab"
                        aria-controls="second" aria-selected="false">MES COMMANDES</a>
                </li>
            </ul>
            
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-4 col-12">
                    <div class="card d-flex flex-row mb-4"><a class="d-flex" href="#"><img alt="Profile"
                                src="{% static 'img/fortnite.png' %}"
                                style="background-color: transparent;"
                                class="img-thumbnail border-0 m-4 list-thumbnail align-self-center"></a>
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div
                                class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                <div class="min-width-zero"><a href="#">
                                        <p class="list-item-heading mb-1 truncate">Skins Fortnite</p>
                                    </a>
                                    <p class="mb-2 text-muted text-small">Minimum: 50 Fortcoins</p><button type="button"
                                        class="btn btn-xs btn-outline-primary">Commander</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-4 col-12">
                    <div class="card d-flex flex-row mb-4"><a class="d-flex" href="#"><img alt="Profile"
                                src="{% static 'img/pp258.png' %}"
                                style="background-color: transparent;"
                                class="img-thumbnail border-0 m-4 list-thumbnail align-self-center"></a>
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div
                                class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                <div class="min-width-zero"><a href="#">
                                        <p class="list-item-heading mb-1 truncate">PayPal</p>
                                    </a>
                                    <p class="mb-2 text-muted text-small">Minimum: 100 Fortcoins</p><button type="button"
                                        class="btn btn-xs btn-outline-primary">Commander</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-4 col-12">
                    <div class="card d-flex flex-row mb-4"><a class="d-flex" href="#"><img alt="Profile"
                                src="{% static 'img/circleo.png' %}"
                                style="background-color: transparent;"
                                class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center"></a>
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div
                                class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                <div class="min-width-zero"><a href="#">
                                        <p class="list-item-heading mb-1 truncate">Fortcoins</p>
                                    </a>
                                    <p class="mb-2 text-muted text-small">Minimum: 1€</p><button type="button"
                                        class="btn btn-xs btn-outline-primary">Commander</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-4 col-12">
                    <div class="card d-flex flex-row mb-4"><a class="d-flex" href="#"><img alt="Profile"
                                src="{% static 'img/donate-money.png' %}"
                                style="background-color: transparent;"
                                class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center"></a>
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div
                                class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                <div class="min-width-zero"><a href="#">
                                        <p class="list-item-heading mb-1 truncate">Dépôt de Fortcoins</p>
                                    </a>
                                    <p class="mb-2 text-muted text-small">Minimum: 10 Fortcoins</p><button type="button"
                                        class="btn btn-xs btn-outline-primary">Commander</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <!-- -->
{%endblock%}